[Unit]
Description=Run OpenIRN secure MariaDB backup daily

[Timer]
OnCalendar=*-*-* 03:10:00
Persistent=true
Unit=openirn-api-backup.service

[Install]
WantedBy=timers.target
