openapi: 3.1.0
info:
  title: OpenIRN Sync API
  version: 0.4.0
  description: |
    Brouillon de contrat API pour OpenIRN. Le endpoint /health est public.
    Les endpoints /sync/push et /sync/pull exigent un token Bearer.
servers:
  - url: https://www.archoad.io/api
security:
  - bearerAuth: []
paths:
  /health:
    get:
      security: []
      summary: Vérifie l’état général du serveur OpenIRN avec une réponse publique sobre.
      responses:
        '200':
          description: État général du serveur OpenIRN.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - application
                  - version
                  - storage
                  - tenantNumber
                  - authRequired
                  - authMode
                  - serverTime
                properties:
                  status:
                    type: string
                    enum: [ok, degraded]
                    example: ok
                  application:
                    type: string
                    example: OpenIRN API
                  version:
                    type: string
                    example: 0.10.0
                  storage:
                    type: string
                    enum: [sqlite]
                    example: sqlite
                  tenantNumber:
                    type: integer
                    minimum: 0
                    example: 3
                  authRequired:
                    type: boolean
                    example: true
                  authMode:
                    type: string
                    example: server_session_with_role_policy
                  serverTime:
                    type: string
                    format: date-time
                    example: '2026-07-02T18:00:00+00:00'
  /sync/push:
    post:
      summary: Envoie un snapshot local complet OpenIRN.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, sync, campaigns]
              properties:
                type:
                  type: string
                  const: openirn.syncPush
                sync:
                  type: object
                  required: [tenantId, deviceId]
                  properties:
                    tenantId:
                      type: string
                    deviceId:
                      type: string
                campaigns:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Snapshot accepté et stocké.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  serverSyncId:
                    type: string
                  tenantId:
                    type: string
                  deviceId:
                    type: string
                  payloadSha256:
                    type: string
                  campaignCount:
                    type: integer
        '401':
          description: Token Bearer manquant.
        '403':
          description: Token Bearer invalide.
  /sync/pull:
    get:
      summary: Récupère les derniers snapshots serveur d'un tenant.
      security:
        - bearerAuth: []
      parameters:
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 80
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 10
      responses:
        '200':
          description: Liste des snapshots disponibles.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  type:
                    type: string
                    example: openirn.syncPull
                  tenantId:
                    type: string
                  snapshotCount:
                    type: integer
                  availableSnapshotCount:
                    type: integer
                  snapshots:
                    type: array
                    items:
                      type: object
                      properties:
                        serverSyncId:
                          type: string
                        receivedAt:
                          type: string
                          format: date-time
                        tenantId:
                          type: string
                        deviceId:
                          type: string
                        payloadSha256:
                          type: string
                        campaignCount:
                          type: integer
                        payload:
                          type: object
        '401':
          description: Token Bearer manquant.
        '403':
          description: Token Bearer invalide.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
